name: sauce labs tests

on:
  pull_request:

env:
  SAUCE_USERNAME: ${{secrets.SAUCE_USERNAME}}
  SAUCE_ACCESS_KEY: ${{secrets.SAUCE_ACCESS_KEY}}

jobs:
  test:
    runs-on: ubuntu-latest
    name: Action Test
    steps:
        # ...
        - uses: saucelabs/sauce-connect-action@v1
          with:
              username: ${{ secrets.SAUCE_USERNAME }}
              accessKey: ${{ secrets.SAUCE_ACCESS_KEY }}
              tunnelIdentifier: test-tunnel
              sharedTunnel: true
              auth: the-internet.herokuapp.com:80:admin:admin
        - name: Checkout
          uses: actions/checkout@v2
        - name: Cucumber
          run: |
            cd $GITHUB_WORKSPACE/scripts/
            bash rubyBundleInstall.sh