name: sauce labs tests

on:
  pull_request:

env:
  SAUCE_USERNAME: ${{secrets.SAUCE_USERNAME}}
  SAUCE_ACCESS_KEY: ${{secrets.SAUCE_ACCESS_KEY}}
  HOST: saucelabs
  SAUCE_TUNNEL: 'test-tunnel'

jobs:
  test:
    runs-on: ubuntu-latest
    name: Action Test
    steps:
        - name: Checkout
          uses: actions/checkout@v2
        - run: mkdir -p tests/artifacts/
        - name: start sauce connect 
          uses: ./actions/sauce-action@v1
        # - name: create config
        #   run: |
        #     cd $GITHUB_WORKSPACE/scripts/
        #     cp config_template.yml config.yml
        #     echo "api-key: ${{ secrets.SAUCE_ACCESS_KEY }}" >> config.yml
        #     echo "user: ${{ secrets.SAUCE_USERNAME }}" >> config.yml
        #     echo "tunnel-identifier: ${{ env.SAUCE_TUNNEL }}" >> config.yml
        #     echo "auth: ['the-internet.herokuapp.com:80:${{ secrets.BASIC_AUTH}}']" >> config.yml
        # - name: start sauce connect
        #   run: |
        #     cd $GITHUB_WORKSPACE/scripts/
        #     bin/sauceconnect_linux -c config.yml &
        # - name: Sleep for 30s to wait for Sauce Connect ready
        #   run: |
        #     sleep 30s
        #     echo "//TODO: figure out how to do this by pinging SC"
        - name: Cucumber
          run: |
            cd $GITHUB_WORKSPACE/scripts/
            bash rubyBundleInstall.sh
        - name: process ruby data
          run: |
            cd $GITHUB_WORKSPACE/scripts/
            bash processSauceTestOutput.sh 
        - uses: actions/upload-artifact@v2
          with:
            name: cucumber_reports.zip
            path: |
              tests/artifacts/chrome_windows_report.html
              tests/artifacts/chrome_mac_report.html
              tests/artifacts/firefox_windows_report.html
              tests/artifacts/firefox_mac_report.html
              tests/artifacts/edge_windows_report.html
              tests/artifacts/edge_mac_report.html
              tests/artifacts/ie_windows_report.html
              tests/artifacts/safari_mac_report.html