name: sauce labs tests

on:
  pull_request:

env:
  SAUCE_USERNAME: ${{secrets.SAUCE_USERNAME}}
  SAUCE_ACCESS_KEY: ${{secrets.SAUCE_ACCESS_KEY}}

jobs:
  test:
    runs-on: ubuntu-latest
    name: Action Test
    steps:
        - name: Checkout
          uses: actions/checkout@v2
        - name: create config
          run: |
            cd $GITHUB_WORKSPACE/scripts/
            cp config_empty.yml config.yml
            echo "api-key: ${{ secrets.SAUCE_ACCESS_KEY }}" >> config.yml
            echo "user: ${{ secrets.SAUCE_USERNAME }}" >> config.yml
            echo "tunnel-identifier: test-tunnel" >> config.yml
            echo "auth: ['the-internet.herokuapp.com:80:admin:admin']" >> config.yml
            cat config.yml
        - name: start sauce connect
          run: |
            cd $GITHUB_WORKSPACE/scripts/
            bin/sc -c config.yml &
        - name: Sleep for 30 seconds
          uses: jakejarvis/wait-action@master
          with:
            time: '30s'
        - name: Cucumber
          run: |
            cd $GITHUB_WORKSPACE/scripts/
            bash rubyBundleInstall.sh
        # - name: Kill tunnel
